*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#fffaf5;
  color:#333;
}

.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1519741497674-611481863552')
  center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay{
  background:rgba(0,0,0,0.5);
  padding:40px;
  border-radius:10px;
  text-align:center;
  color:white;
}

.overlay h1{
  font-size:60px;
  margin:20px 0;
}

.overlay p{
  font-size:24px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  background:gold;
  color:black;
  padding:12px 25px;
  text-decoration:none;
  border-radius:30px;
}

.couple{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  padding:80px 20px;
  flex-wrap:wrap;
}

.card{
  text-align:center;
}

.card img{
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:50%;
}

.heart{
  font-size:50px;
}

.countdown-section{
  text-align:center;
  padding:80px 20px;
  background:#f5ede2;
}

#countdown{
  font-size:40px;
  margin-top:20px;
}

.details{
  text-align:center;
  padding:80px 20px;
}

.details p{
  margin:10px 0;
  font-size:20px;
}

footer{
  background:black;
  color:white;
  text-align:center;
  padding:40px;
}
